<?xml version="1.0"?>
<launch>

  <node pkg="our_controller" name="keyboard_teleop" type="keyboard_teleop" output="screen"/>
  <node pkg="our_controller" name="Gap_Follow_Controller" type="Gap_Follow_Controller" output="screen"/>
  <node pkg="our_controller" name="Multiplexer" type="Multiplexer" output="screen"/>

</launch>



